/** @format */

.name {
    padding: 10px;
    font-size: 60px;
}

img {
	margin: 0;
	position: absolute;
	bottom: 0;
	max-width: 100%;
	height: auto;
}

.description {
	position: absolute;
	bottom: 5%;
	right: 5%;	
}