/** @format */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@font-face {
    font-family: morganite;
    src: url(Morganite-Bold.ttf);
}

a,
a:visited,
a:hover {
	color: #000;
	text-decoration: none;
	text-decoration: none;
}

.name {
	padding: 1.35rem;
	font-size: 1.15rem;
	letter-spacing: 0.35rem;
	text-transform: uppercase;
	font-family: "Outfit", sans-serif;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 100;
}

.name a {
	color: #0d00ff!important;
}

.name a:hover {
	color: #000000;
}

.work-link,
.info-link {
	font-family: "Outfit", sans-serif;
	font-weight: 900;
	font-size: 1.15rem;
}

.work-div,
.info-div {
	text-align: center;
	position: fixed;
	padding: 2rem 2.5rem;
	top: 0rem;
	width: 4rem;
	height: fit-content;
	z-index: 100;
}

.work-div {
	left: 0;
}

.info-div {
	right: 0;
}

.background-text-div {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.background-text {
	font-family: morganite;
	color: #fff;
	font-size: 105vh;
	text-transform: uppercase;
}

.about-heading-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60rem;
	height: fit-content;
	text-align: center;
	padding: 2rem;
}

.about-heading {
	font-family: "Indie Flower", cursive;
	line-height: 7rem;
	font-size: 4.5rem;
	z-index: 100;
}

.social-icon-div {
	padding: 2rem 2.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
}

.social-icon {
	margin-right: 2.5rem;
	float: left;
}

h1 span {
	width: 100%;
	float: left;
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	transform: translateY(-50px);
	opacity: 0;
	animation-name: titleAnimation;
	animation-timing-function: ease;
	animation-duration: 3s;
}

h1 span {
	animation-delay: 0.7s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

h1 span:first-child {
	animation-delay: 0.8s;
}

h1 span:last-child {
	animation-delay: 0.5s;
}

@keyframes titleAnimation {
	0% {
		transform: translateY(-50px);
		opacity: 0;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
	}
	20% {
		transform: translateY(15px);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 40%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 40%);
	}
	80% {
		transform: translateY(0);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
	}
}

.info-bg {
	background-color: #000;
	width: 100vw;
	height: max-content;
	min-height: 100vh;
	position: fixed;
	top: 100vh;
	transition: top 0.5s ease-in-out;
	opacity: 0.5;
}

.info-bg-active {
	top: 0;
	opacity: 1;
	transition: top 0.5s ease-in-out;
}

.info-text {
	color: #fff;
	font-family: "Indie Flower", cursive;
	line-height: 7rem;
	font-size: 4.5rem;
	z-index: 101;
}

.white {
	color: #fff!important;

}